.wrapper {
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 10px;
   margin-top: 20px;
}

.paginationItem {
   cursor: pointer;
   display: flex;
   justify-content: center;
   align-items: center;
   width: 32px;
   height: 32px;
   border-radius: 999px;
   border: none;
   background-color: white;
}

.paginationItem:hover {
   background: #c9c5ca;
}
.activePage {
   background: #e6e1e5;
}

.arrowButton {
   margin-top: 4px;
   cursor: pointer;
   border: none;
   background: none;
}

.buttonDisabled {
   cursor: auto;
}

.buttonDisabled svg path {
   fill: #e6e1e5;
}
