.navLink {
   text-decoration: none;
   padding: 16px 0;
   margin: 0 10px;
   font-family: 'Inter';
   font-style: normal;
   font-weight: 500;
   font-size: 14px;
   line-height: 20px;
   color: #313033;
}

.active {
   color: #b23386;
   border-bottom: 3px solid #b23386;
}
