.wrapper {
   padding: 30px 20px;
   width: 100%;
   h2,
   h3 {
      font-family: 'Inter';
      font-style: normal;
      font-weight: 400;
      font-size: 28px;
      line-height: 36px;
      color: #000000;
   }
   h2 {
      font-size: 28px;
   }
   h3 {
      font-size: 22px;
      span {
         color: #787579;
         font-size: 14px;
         font-style: normal;
         line-height: 20px;
      }
   }
}