.navigation__wrapper {
   display: flex;
   justify-content: space-between;
   align-items: center;
   width: 1290px;
   background: #e6e1e5;
   margin: 0 -75px;
   padding: 15px;

   p {
      font-weight: 500;
      font-size: 14px;
      line-height: 20px;
      color: #313033;
   }
   span {
      font-weight: 500;
      font-size: 14px;
      line-height: 20px;
      color: #605d62;
      margin-left: 10px;
   }
}

.navLink__wrapper {
   margin: 0 55px;
}

.login__wrapper {
   margin: 0 65px;
   display: flex;
   gap: 15px;
   display: flex;
   flex-direction: row;
}
