@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400; 
  background-color: #0f1217;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.app_container{
  height: 100%;
  width: 100%;
  margin: 0 auto ;
  display: flex;
  justify-content: center;
  align-items: center;
}
