@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400&display=swap');

* {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
}
.wrapper {
   margin: -75px;
   background-color: white;
}
.main__wrapper {
    padding: 140px 120px 0 30px;
    background-color: white;
}

.header__wrapper {
   font-family: 'Inter';
   font-weight: 400;
   color: #b23386;
   text-align: left;
   margin-bottom: 50px;

   h1 {
      font-size: 57px;
      line-height: 64px;
   }

   span {
      font-size: 22px;
      line-height: 28px;
   }
}

.form__wrapper {
   display: flex;
   flex-direction: column;
   gap: 30px;
   input {
      width: 456px;
      height: 56px;
   }
}

.submit__button button {
    margin-top: 15px;
   width: 456px;
   height: 56px;
   color: white;
   background: black;
   border: 1px solid #000000;
   font-weight: 500;
   font-size: 14px;
   line-height: 20px;
   &:hover{
      background: black;
      box-shadow: none;
   }
}

.wrapper {
   display: flex;
   justify-content: center;
}